<%- include('../partials/head1.ejs') %>	

<body>
	<div class="container">
		<div class="row">
        <div class="col-md-3">
            <p>View <strong>PG</strong> location by clicking on map below</p>
            <a href="#"> <img style="height:500px; width:100%" src="https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80" onclick='window.open("https://www.google.com/maps/place/<%= Usert.address %>");return false;'></a>
	    </div>
    
<!-- ============================Camp Card=============================== -->		
 <div class="col-md-9">
   <div class="card mb-3">
    
      
         <img src="data:image/<%=items.img.contentType%>;base64,
                <%=items.img.data.toString('base64')%>">
                
      
     
      <div class="card-body">
        <p class="float-right">
          <strong><%= Usert.rent %> </strong>
        </p>
         <h2><%=Usert.pgName%></h2>
		  
        <hr>
		  <div>
			   <p> <%= Usert.description%> </p>
		  </div>
       
		 <p class="float-right">
          <em>~ Submitted by :  <strong><%= Usert.ownerName %></strong></em>
        </p> 
    
      </div>
      </div>
	  </div>
    </div>
</div>

</body>
</html>	
