<%- include('../partials/head') %>

<body>


    <%- include('../partials/navbar') %>

    <form action="/" method="POST">
        <button class="btn btn-light btn-lg btn-block addPG"> Add PG...</button>
    </form>

    <center>

        
    
        <% for(var i=Usert.length-1  ; i>=0 ; i--){ %>
        <div class="jumbotron pgs">
            <h1 class="display-4">      <%= Usert[i].address1+","+Usert[i].address2 %></h1>
            <p class="lead" style="font-family: Dosis; font-weight: 300;font-size: 2em;"><%= Usert[i].description %></p>
            <hr class="my-4">
            <div class="row">
                <div class=" col-md-4">
                    <p style="display: inline-block;font-family: Dosis; font-weight: 700;">Owner's Name: <%= Usert[i].ownerName %> </p>
                </div>
                <div class="col-md-4">
                    <p style="display: inline-block;font-family: Dosis; font-weight: 700;">Phone Number: <%= Usert[i].ownerNumber %> </p>
                </div>
                <div class="col-md-4">
                    <p style="display: inline-block;font-family: Dosis; font-weight: 700;">Rooms Available: <%= Usert[i].rooms %> </p>
                </div>

            </div>
            <div class="row">
                <div class=" col-md-4">
                    <p style="display: inline-block;font-family: Dosis; font-weight: 700;"> Mess Present: <%= Usert[i].mess %></p>
                </div>
                <div class="col-md-4">
                    <p style="display: inline-block;font-family: Dosis; font-weight: 700;"> Kitchen Present: <%= Usert[i].kitchen %> </p>
                </div>
                <div class="col-md-4">
                    <p style="display: inline-block;font-family: Dosis; font-weight: 700;">Monthly Rent: <%= Usert[i].rent %></p>
                </div>

            </div>



        </div>
        <% } %>

    </center>
    


    <%- include('../partials/footer') %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>



</html>